.header-dashboard {
    background-color: #ffd7d4;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    text-align: center;
    padding: 30px 0;
}

.wrapper {
    align-items: center;
    height: 100vh;

}

.sidebar-wrapper  {
    position: relative;
    bottom: 80px;
    border: 1px solid #FF5145;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 380px !important;
}
/* 
.users {
    background-color: red;
} */

.ac {
    background-color: #ffd7d4;
    border: 10px solid #f8fafc;
    border-radius: 20px !important;
    padding: 20px;
    height: 600px;
    overflow-y: auto;
}

.ac::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
.ac::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 15px;
}
  
/* Handle */
.ac::-webkit-scrollbar-thumb {
    background: #FF5145;
    border-radius: 15px;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading div:first-child i {
    margin-right: 10px;
    color: #FF5145;
}

.heading i {
    font-size: 18px;
}

.ac-top {
    margin-bottom: 10px;
}

.ac-top input {
    width: 80%;
    outline: none;
    padding: 5px 5px 5px 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc !important;
}

.ac-top input:focus {
    border: 1px solid #FF5145 !important;
} 

.u, .p {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #FF5145;
}

.u-icons,
.p-icons {
    display: flex;
    flex-direction: column;
}

.p {
    align-items: flex-start;
}

.u-icons i,
.p-icons i {
    font-size: 18px;
}

.order {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #FF5145;
    margin-bottom: 10px;
}

.order-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-top i {
    font-size: 22px;
}